.step-six > div {
    margin-top: 40px;
}

.step-six > h1 {
    margin-top: 0px;
}

.step-six > h2 {
    margin-top: 10px;
}

.step-six {
    height: 100%;
    margin: 40px;
    padding: 20px 0px 30px 0px;
}