select {
    margin-right: 20px;
}

.step-five{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.step-five > .next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.step-five > .step-header {
    margin-bottom: 20px;
}

.options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.options-box > div {
    margin-bottom: 20px;
}

#done-button {
    line-height: 10px;
    font-size: 13px;
    margin: 0;
}