
h2 {
    margin: 20px 0px 20px 0px;
}

.step-three > .next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.restaurant-card{
    border: 3px solid #438a59;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.remove{
    font-size: .6em;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}
.remove:hover{
    color: blue
}

#done-button {
    line-height: 10px;
    font-size: 13px;
}

@media (min-width: 820px){
    .restaurants-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 15px
    }
}
@media (min-width: 1250px){
    .restaurants-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 15px
    }
}