select {
    margin-right: 20px;
}

.step-five{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.step-five > .next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.options-box > div {
    margin-bottom: 20px;
}

#done-button {
    line-height: 10px;
    font-size: 13px;
    margin: 0;
}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
  }
  .select select {
    display: inline-block;
    width: 100px;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: solid 3px #76cbff;
    border-radius: 0;
    background: white;
    color: black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .select select::-ms-expand {
    display: none;
  }
  .select select:hover,
  .select select:focus {
    color: #000;
    background: white;
  }
  .select select:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .select__arrow {
    position: absolute;
    top: 16px;
    right: 67px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #215732 transparent transparent transparent;
  }
  .select select:hover ~ .select__arrow,
  .select select:focus ~ .select__arrow {
    border-top-color: #215732;
  }
  .select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
  }
  .user-votes{
      display: flex
  }
  .options-box > div{
      width: 250px
  }