Wizard {
    display: flex;
    align-content: space-around;
    height: 100vh;
}



h1 {
    font-size: 25px;
    margin-top: 50px;
}

.poll-buttons {
    width: 80vw;
    height: 100%;
    margin-top: 50px;
}

.next {
    height: 40px;
}
.wizard-routes-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}