@import url('https://fonts.googleapis.com/css?family=Lobster');

.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.poll-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}


.input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 45%;
    height: 45%;
    margin: 0;
}

.input-container > label {
    font-size: 22px;
    color: grey;
}

.input-container > input {
    width: 300px;
    height: 14%;
    margin: 4% 0;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    background-color: rgb(253, 254, 255);
    
}

#login-buttons {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
