@import url('https://fonts.googleapis.com/css?family=Mukta|Roboto');

.navbar {
    display: flexbox;
    justify-content: space-between;
<<<<<<< HEAD
    /* background: transparent; */
    background-color: #cc8237;
    /* overflow: hidden; */
    height: 50px;
=======
    background-color: #822317;
    width: 100%;
    height: 6vh;
>>>>>>> master
    color: black;
    padding-right: 10px;

}

.navbar span {
    justify-content: space-evenly;
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    line-height: 50px;
    padding: 0px 35px;
}

.navbar span:hover {
<<<<<<< HEAD
    background-color: #a86929;
    text-shadow: 2px 2px 2px black;
=======
    background-color: #57180f;
    text-shadow: 4px 6px 4px black;
>>>>>>> master

}

.navbar-logo {
    height: 50px;
    float: left;
    
}

a {
    color: black;
    text-decoration: none;
}
