@import url('https://fonts.googleapis.com/css?family=Mukta|Roboto');

App {
  background-color: #fcfbf7;
}

.App, body {
  text-align: center;
  font-family: 'Mukta', sans-serif;
  height: 100vh;
  background-color:#eeefead3;
  background-image: 
  radial-gradient(circle at 100% 150%, #eeefead3 24%, #f8f5f5dc 25%, #f8f5f5dc 28%, #eeefead3 29%, #eeefead3 36%, #f8f5f5dc 36%, #f8f5f5dc 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #eeefead3 24%, #f8f5f5dc 25%, #f8f5f5dc 28%, #eeefead3 29%, #eeefead3 36%, #f8f5f5dc 36%, #f8f5f5dc 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #f8f5f5dc 10%, #eeefead3 11%, #eeefead3 23%, #f8f5f5dc 24%, #f8f5f5dc 30%, #eeefead3 31%, #eeefead3 43%, #f8f5f5dc 44%, #f8f5f5dc 50%, #eeefead3 51%, #eeefead3 63%, #f8f5f5dc 64%, #f8f5f5dc 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #f8f5f5dc 5%, #eeefead3 6%, #eeefead3 15%, #f8f5f5dc 16%, #f8f5f5dc 20%, #eeefead3 21%, #eeefead3 30%, #f8f5f5dc 31%, #f8f5f5dc 35%, #eeefead3 36%, #eeefead3 45%, #f8f5f5dc 46%, #f8f5f5dc 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, #f8f5f5dc 5%, #eeefead3 6%, #eeefead3 15%, #f8f5f5dc 16%, #f8f5f5dc 20%, #eeefead3 21%, #eeefead3 30%, #f8f5f5dc 31%, #f8f5f5dc 35%, #eeefead3 36%, #eeefead3 45%, #f8f5f5dc 46%, #f8f5f5dc 49%, transparent 50%, transparent);
  background-size:100px 50px;
  background-attachment: scroll;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #fcfbf7;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

Button {
  position: relative;

  display: block;
  margin: auto;
  padding: 10px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #f18137;
  color: #ffffff;
  
  transition: background-color .3s;
}

Button:hover, .create-poll:focus {
  background-color: #db6129;
  box-shadow: 0 6px 10px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
  color: #ffffffa6;
}

Button > * {
  position: relative;
}

Button span {
  display: block;
  padding: 12px 24px;
}

Button:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

Button:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.restaurant-image {
width: 200px;
height: 200px;
}

.create-poll{
position: relative;

display: block;
margin: 30px auto;
padding: 10px;

overflow: hidden;

border-width: 0;
outline: none;
border-radius: 2px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

background-color: #f18137;
color: #ffffff;

transition: background-color .3s;
}

.create-poll:hover, .create-poll:focus {
background-color: #db6129;
box-shadow: 0 6px 10px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
color: #ffffffa6;
}

.create-poll > * {
position: relative;
}

.create-poll span {
display: block;
padding: 12px 24px;
}

.create-poll:before {
content: "";

position: absolute;
top: 50%;
left: 50%;

display: block;
width: 0;
padding-top: 0;

border-radius: 100%;

background-color: rgba(236, 240, 241, .3);

-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.create-poll:active:before {
width: 120%;
padding-top: 120%;

transition: width .2s ease-out, padding-top .2s ease-out;
}
