

.Landing {
    background: #fcfbf7;  
    height: -webkit-fill-available;
}

.About-us {
    color: black;
}

.About-us p {
    border: 2px solid #822317;
    border-radius: 7px;
    display: flex;
    margin: 50px;
    padding: 50px;
}

.Cards {
    display: inline-flex;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 lightgray;
    transition: 0.3s;
    border: 2px solid white;
    border-radius: 3px;
    margin-right: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 #5b8173;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.Create-join-buttons {
    display: block;
    margin: 40px;
    padding: 40px
}


.Create-join-buttons button {
    font-size: -webkit-xxx-large;
    background-color: white;
    justify-content: space-between;
    margin-right: 2%;
    font-family: 'Mukta', sans-serif;

}

.Create-join-buttons button:hover {
    box-shadow: 0 4px 8px #5b8173;
    
}

